@page {
    size: A4;
    margin: 20mm;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: url('https://i.imgur.com/BrJoeOv.png') no-repeat center center;
    background-size: 210mm auto;
    opacity: 0.99;
}

.content {
    width: 100%;
    max-width: 210mm;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 6px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
}

.info-table {
    size: A4;
    width: 100%;
    max-width: 210mm;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    font-size: 14px;
}

.bordered-table {
    size: A4;
    width: 100%;
    max-width: 210mm;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    font-size: 12px;
}

.info-table th,
.info-table td,
.bordered-table th,
.bordered-table td {
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word;
    page-break-inside: avoid;
}

.infocol-1 {
    width: 12%;
}

.infocol-2 {
    width: 50%;
}

.infocol-3 {
    width: 15%;
}

.infocol-4 {
    width: 23%;
}

.borderedcol-1 {
    width: 2.5%;
    text-align: center;
}

.borderedcol-2-head {
    width: 6.5%;
    text-align: center;
}

.borderedcol-3-head {
    width: 13%;
    text-align: center;
}

.borderedcol-4-head {
    width: 26%;
    text-align: center;
}

.borderedcol-2 {
    width: 6.5%;
    text-align: left;
}

.borderedcol-3 {
    width: 13%;
    text-align: left;
}

.borderedcol-4 {
    width: 26%;
    text-align: left;
}

.borderedcol-5 {
    width: 7%;
    text-align: center;
}

.borderedcol-6 {
    width: 7%;
    text-align: center;
}

.borderedcol-7 {
    width: 6%;
    text-align: center;
}

.borderedcol-8 {
    width: 5%;
    text-align: center;
}

.borderedcol-9 {
    width: 4%;
    text-align: center;
}

.borderedcol-10 {
    width: 6%;
    text-align: center;
}

.borderedcol-11-head {
    width: 9%;
    text-align: center;
}

.borderedcol-12-head {
    width: 11%;
    text-align: center;
}

.borderedcol-11 {
    width: 9%;
    text-align: right;
}

.borderedcol-12 {
    width: 11%;
    text-align: right;
}

.borderedcol-13 {
    width: 14%;
    text-align: center;
}

.button-excel {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    /* Bo tròn góc */
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    /* Cố định ở dưới cùng */
    left: 70%;
    /* Căn giữa */
    transform: translateX(-50%);
    /* Căn giữa chính xác */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Bóng mờ phía dưới */
    transition: background-color 0.3s ease;
    opacity: 0.9;
    white-space: nowrap;
    /* Ngăn nội dung xuống dòng */
}

.button-excel:hover {
    background-color: #0056b3;
}

.button-pdf {
    background-color: #f30d0d;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    /* Bo tròn góc */
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    /* Cố định ở dưới cùng */
    left: 30%;
    /* Căn giữa */
    transform: translateX(-50%);
    /* Căn giữa chính xác */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Bóng mờ phía dưới */
    transition: background-color 0.3s ease;
    opacity: 0.9;
    white-space: nowrap;
    /* Ngăn nội dung xuống dòng */
}

.button-pdf:hover {
    background-color: #910707;
}


@media print {

    body {
        margin: 0;
        padding: 0;
    }

    #content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .button-excel {
        display: none;
    }

    .button-pdf {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: url('https://i.imgur.com/BrJoeOv.png') no-repeat center center;
        background-size: 210mm auto;
        opacity: 0.99;
    }

    .content {
        width: 100%;
        max-width: 210mm;
        margin: auto;
        padding: 10px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        margin-bottom: 6px;
    }

    h3 {
        text-align: center;
        font-size: 12px;
        margin-bottom: 6px;
    }

    p {
        margin: 2px 0;
        font-size: 8px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 16px;
    }

    .info-table {
        size: A4;
        width: 100%;
        max-width: 210mm;
        border-collapse: collapse;
        margin-top: 16px;
        table-layout: fixed;
        font-size: 8px;
    }

    .bordered-table {
        size: A4;
        width: 100%;
        max-width: 210mm;
        border-collapse: collapse;
        margin-top: 16px;
        table-layout: fixed;
        font-size: 8px;
    }

    .info-table th,
    .info-table td,
    .bordered-table th,
    .bordered-table td {
        border: 0.8px solid black;
        padding: 3px;
        word-wrap: break-word;
        page-break-inside: avoid;
    }

    .infocol-1 {
        width: 15%;
    }

    .infocol-2 {
        width: 42%;
    }

    .infocol-3 {
        width: 20%;
    }

    .infocol-4 {
        width: 23%;
    }

    .borderedcol-1 {
        width: 5%;
        text-align: center;
    }

    .borderedcol-2-head {
        width: 6%;
        text-align: center;
    }

    .borderedcol-3-head {
        width: 8%;
        text-align: center;
    }

    .borderedcol-4-head {
        width: 14%;
        text-align: center;
    }

    .borderedcol-2 {
        width: 6%;
        text-align: left;
    }

    .borderedcol-3 {
        width: 8%;
        text-align: left;
    }

    .borderedcol-4 {
        width: 14%;
        text-align: left;
    }

    .borderedcol-5 {
        width: 8%;
        text-align: center;
    }

    .borderedcol-6 {
        width: 8%;
        text-align: center;
    }

    .borderedcol-7 {
        width: 8%;
        text-align: center;
    }

    .borderedcol-8 {
        width: 6%;
        text-align: center;
    }

    .borderedcol-9 {
        width: 6%;
        text-align: center;
    }

    .borderedcol-10 {
        width: 8%;
        text-align: center;
    }

    .borderedcol-11-head {
        width: 11%;
        text-align: center;
    }

    .borderedcol-12-head {
        width: 12%;
        text-align: center;
    }

    .borderedcol-11 {
        width: 11%;
        text-align: right;
    }

    .borderedcol-12 {
        width: 12%;
        text-align: right;
    }

    .borderedcol-13 {
        width: 16%;
        text-align: right;
    }

    .button-excel {
        background-color: #007BFF;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 25px;
        /* Bo tròn góc */
        font-size: 16px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        z-index: 10;
        /* Cố định ở dưới cùng */
        left: 70%;
        /* Căn giữa */
        transform: translateX(-50%);
        /* Căn giữa chính xác */
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        /* Bóng mờ phía dưới */
        transition: background-color 0.3s ease;
        opacity: 0.9;
        white-space: nowrap;
        /* Ngăn nội dung xuống dòng */
    }

    .button-excel:hover {
        background-color: #0056b3;
    }

    .button-pdf {
        background-color: #f30d0d;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 25px;
        /* Bo tròn góc */
        font-size: 16px;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        z-index: 10;
        /* Cố định ở dưới cùng */
        left: 30%;
        /* Căn giữa */
        transform: translateX(-50%);
        /* Căn giữa chính xác */
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        /* Bóng mờ phía dưới */
        transition: background-color 0.3s ease;
        opacity: 0.9;
        white-space: nowrap;
        /* Ngăn nội dung xuống dòng */
    }

    .button-pdf:hover {
        background-color: #910707;
    }
}